<body class="section"> 
    <div class="header">
<h1>Final Fantasy </h1>

 <b class="bb">
        <a href=""> Home </a>&nbsp;&nbsp;
        <a href=""> Login </a>&nbsp;&nbsp;
        <a href=""> Game </a>&nbsp;&nbsp;
        <a href=""> Company </a>
        </b>
 </div>
 
 <div class="main">
         <%= image_tag('he.jpg') %>

 </div>
 
 <div class="fotter">
         @ Final Fantasy
 </div>

</body>
