<!DOCTYPE html>
<html>
  <head>
    <title>Parveen | <%= @page_title || "Test" %></title>
     <%= stylesheet_link_tag('application', :media=>'all') %>

  </head>
  <body>
    <div id="header">
      <h1></h1>
    </div>
    <div id="main">
     <% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>
      <div id="content">
        <%= yield %>
      </div>
    </div>
   
  </body>
</html>